{% extends 'base.html.twig' %}

{% block title %}Index page{% endblock %}

{% block container %}
    <a class="btn btn-primary" href="{{ path('app_product_index') }}">Move to products</a>
{% endblock %}
